@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(./pic/bg.jpg);
    background-size: cover;
    background-position: top center;
    
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0));
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 15px 15px;
    color:#282828;

}
.subtitle{
    align-self: center;
    padding:20px 15px 15px;
    font-size:20px ;
    color:rgb(225, 0, 255);
    border: 2px solid red;
    background-color: aquamarine;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px 15px 15px;
}

header input{
    width: 100%;
    max-width: 280px;
    padding: 20px 20px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.6);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #df8e00;
    color: #282828;
    font-size: 16px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

header input:focus{
    background-color: rgba(255,255,255,0.9);
}

main{
    flex: 1 1 100%;
    padding: 30px 25px 50px;
    /* margin-top: 3em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city{
    color: #282828;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date{
    color: rgb(255, 255, 0);
    font-size: 20px;

}

.current .temp{
    color: #fff;
    font-size: 90px;
    font-weight: 900;
    margin: 10px 0px;
    text-shadow: 2px 10px rgba(0,0,0,0.6);
}

.current .temp span{
    font-weight: 500;
}

.current .weather{
    color: rgb(255, 255, 0);
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 0px rgba(0,0,0,0.4);
}

.current .hi-low{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0,0,0,0.4);
}